<% include partials/header %>
<div id="wrap">
<!--    Navbar at the top. Soon to be a header-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="./Scifipics/Scifilogo2.png" class="d-inline-block align-top" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav align-items-end">
            <li class="nav-item">
                <a class="nav-link " href="./Services">Services <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./Contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./About">About</a>
            </li>
        </ul>
    </div>
</nav>






<div class="container">
        <!--Image-->
<br>
<h1 class="text-center">About</h1>
<div class="row">
    <div class="col-lg-6">
        <img class="about img-fluid" src="/Scifipics/abtImg1.jpg">
    </div>
    <div class="col-lg-6 col-md-12 ">
        <hr>
        <p class="card-text">
            Sci-Fi Painting was created in 1999 and has since been owned and operated by Abel Sifuentes. For 20
            years we have offered high quality paint and general contracting services to southern and central Texas.
            We will work with you to get the job done in a professional and timely manner. Here at Sci-Fi
            Painting we get the job done right. Every time. We understand your vision is important, so we don’t cut
            corners. That’s why we want to help you bring it to life. Whether it be industrial or domestic Sci-Fi Painting
            is here for you.
        </p>
        
        <br>
        <br>
        <br>
        

        <a href="./Contact"><img class="aboutSVG" src="Scifipics/Vector.svg" height="100px" width="100px"></a>
        <br>
        
        <h2 class="aboutH2">Start Your Project Today</h2>
       
    </div>
    
</div>
</div>

</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>



<footer class="footer">
    <div class="container">
        <div class="row">
            <div class=" col-lg-4 "></div>
            <div class=" col-lg-4 ">
                <p><strong>Email:</strong> <a>abelm@scifipainting.com</a> 
                    <br> 
                    <strong>Phone:</strong> 210-602-0018
                    <br>
                    <strong>Hours</strong> 9:00am - 7:00pm</p>
            </div>
            <div class=" col-lg-4 "></div>
           
        </div>
    </div>

</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>


<% include partials/footer%>