<% include partials/header %>
    <!--    Navbar at the top. Soon to be a header-->

    

        <div class="row">
            <div class="col-md-6">
                <nav class="navbar navbar-expand-lg navbar-light bg-white navbar-custom">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/Services">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Contact">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/About" tabindex="-1" aria-disabled="true">About</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-md-6">
                <a href="/" id="logoImg" class="navbar-brand pull-right justify-content-end float-right"><img src="./Scifipics/Scifilogo2.png"></a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <br>

                <h1 class="text-center">Services</h1>
                <br>
                <br>
            </div>
        </div>

        <!--     Grid for services on the page. -->

        <div class="row">
            <div class="col-sm-4">
                <div class="card shadow h-100">
                    <div class="card-body text-center">
                        <div class="inner">
                            <img src="Scifipics/svcImgs/extPnt.jpg" class="card-img-top" alt="...">
                        </div>
                        <br>
                        <h5 class="card-title">INTERIOR/EXTERIOR PAINT</h5>
                        <p class="card-text">Set down a fresh coat of paint on your new building or rejuvenate an old one, inside or out! </p>
                        <button type="button" class="btn btn-light btn-secondary" style: font-family: >
                            <a>schedule estimate</a> 
                        </button>
                    </div>
                </div>
            </div>



            <div class="col-sm-4">
                <div class="card shadow h-100">
                    <div class="card-body text-center">
                        <div class="inner">
                            <img src="Scifipics/svcImgs/oilPnt1.jpg" class="card-img-top">
                        </div>
                        <br>
                        <h5 class="card-title">OIL PAINT</h5>
                        <p class="card-text">Use a oil based paint to give your cabinetry and trim a nice shine. It takes longer to dry but is more resistant to scratches. </p>
                        <button type="button" class="btn btn-light btn-secondary">
                                <a>schedule estimate</a>
                        </button>
                    </div>
                </div>
            </div>



            <div class="col-sm-4">
                <div class="card shadow h-100">
                    <div class="card-body text-center">
                        <div class="inner">
                            <img src="Scifipics/svcImgs/epxImg.jpg" class="card-img-top">
                        </div>
                        <br>
                        <h5 class="card-title">EPOXY PAINT</h5>
                        <p class="card-text">If you need a smooth and durable surface in your garage, or commercial and industrial infrastructure, we can apply the epoxy for you. </p>
                        <a href="#" class="btn btn-light">SCHEDULE ESTIMATE</a>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="row">

            <div class="col-sm-4">
                <div class="card h-100 shadow">
                    <div class="card-body text-center">
                        <div class="inner">
                            <img src="Scifipics/svcImgs/ltxPnt.jpg" class="card-img-top">
                        </div>
                        <br>
                        <h5 class="card-title">LATEX PAINT</h5>
                        <p class="card-text">Great for walls and ceilings, change up your space with a fresh coat of latex paint.</p>
                        <a href="#" class="btn btn-light">schedule estimate</a>

                    </div>
                </div>
            </div>




            <div class="col-sm-4">
                <div class="card h-100 shadow">
                    <div class="card-body text-center">
                        <div class="inner">
                            <img src="Scifipics/svcImgs/wdstnImg.jpg" class="card-img-top">
                        </div>
                        <br>
                        <h5 class="card-title">Wood Stain Exterior/Interior</h5>
                        <p class="card-text">Liven up your beautiful wooden floors with our interior or exterior wood stain service. </p>
                        <a href="#" class="btn btn-light">schedule estimate</a>
                    </div>
                </div>
            </div>



            <div class="col-sm-4">
                <div class="card h-100 shadow">
                    <div class="card-body text-center">
                        <div class="inner">
                            <img src="Scifipics/svcImgs/drwlImg.jpg" class="card-img-top">
                        </div>
                        <br>
                        <h5 class="card-title">Drywall Repair/Install</h5>
                        <p class="card-text">Fix damage to old drywall or get new drywall installed. We got you covered. </p>
                        <a href="#" class="btn btn-light">schedule estimate</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <div class="card h-100 shadow">
                    <div class="card-body text-center">
                        <div class="inner">
                            <img src="Scifipics/svcImgs/pwrwshing.jpg" class="card-img-top">
                        </div>
                        <br>
                        <h5 class="card-title">Power Wash</h5>
                        <p class="card-text">We can wash away years of built up dirt to get your houses exterior and driveways looking as fresh as ever.</p>
                        <a href="#" class="btn btn-light">schedule estimate</a>
                    </div>
                </div>
            </div>



            <div class="col-sm-4">
                <div class="card h-100 shadow">
                    <div class="card-body text-center">
                        <div class="inner">
                            <img src="Scifipics/svcImgs/txtImg.jpg" class="card-img-top">
                        </div>
                        <br>
                        <h5 class="card-title">Texture</h5>
                        <p class="card-text">Remove old texture or add new texture, Sci-Fi Painting has experience in machine as well as hand application to get you that perfect look</p>
                        <a href="#" class="btn btn-light">schedule estimate</a>
                    </div>
                </div>
            </div>



            <div class="col-sm-4">
                <div class="card shadow h-100">
                    <div class="card-body">
                        <h5 class="card-title">Free Estimates Call Now!!</h5>
                        <a href="#" class="btn btn-light">schedule estimate</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        </div>
        </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    
        <% include partials/footer%>