 body {
    padding-left: 1em;
    padding-right: 1em ; 
    color: black;
}

p {
    max-width: 65ch; /* change to your preferences */
    margin-left: 50px;
    line-height: 1.5rem;
    }

.home {
    padding-left: 1em;
    padding-right: 1em ; 
    color: black;
    background-image: url('./Scifipics/landngImg1.jpg');
    
}



h1 {
    font-family: 'Doppio one', sans-serif;
    margin-top:-60px;
  padding-top:60px;
}

.about {
    padding-top: 12px;
}

.card-title {
    text-transform: uppercase;
    font-family: 'Doppio one', sans-serif;
}

.card-text {
    font-family: 'Farro', sans-serif;
}

.btn {
    text-transform: uppercase;
    font-family: 'Farro', sans-serif;
}

.navbar-custom .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}


.inner{
   overflow: hidden; 
}

.inner img{
    transition: all 1.5s ease;
}

.inner:hover img{
    transform: scale(1.5);
}

